<div class="main-screen">

    <adam-lib-label class="screen-title" [text]="'app-adam-button'"></adam-lib-label>

    <div class="div-demo-style">
        <adam-lib-button [text]="'defult'"></adam-lib-button>
        <adam-lib-button [width]="'200px'" [height]="'40px'" [text]="'defult'"></adam-lib-button>
        <adam-lib-button [width]="'200px'" [height]="'40px'" [color]="'primary-reverse'"
            [text]="'defult'"></adam-lib-button>
        <adam-lib-button [width]="'200px'" [height]="'40px'" [rounded]="'rounded'" [text]="'defult'"></adam-lib-button>
    </div>

    <div class="div-demo-style">
        <adam-lib-button [color]="'primary'" [text]="'primary'"></adam-lib-button>
        <adam-lib-button [color]="'dangerous'" [text]="'dangerous'"></adam-lib-button>
        <adam-lib-button [color]="'positive'" [text]="'positive'"></adam-lib-button>
        <adam-lib-button [color]="'blue'" [text]="'blue'"></adam-lib-button>
        <adam-lib-button [color]="'waring'" [text]="'waring'"></adam-lib-button>
        <adam-lib-button [color]="'info'" [text]="'info'"></adam-lib-button>
    </div>

    <div class="div-demo-style">
        <adam-lib-button [color]="'primary-reverse'" [text]="'primary'"></adam-lib-button>
        <adam-lib-button [color]="'dangerous-reverse'" [text]="'dangerous'"></adam-lib-button>
        <adam-lib-button [color]="'positive-reverse'" [text]="'positive'"></adam-lib-button>
        <adam-lib-button [color]="'blue-reverse'" [text]="'blue'"></adam-lib-button>
        <adam-lib-button [color]="'waring-reverse'" [text]="'waring'"></adam-lib-button>
        <adam-lib-button [color]="'info-reverse'" [text]="'info'"></adam-lib-button>
    </div>

    <div class="div-demo-style">
        <adam-lib-button [color]="'primary'" [text]="'primary'" [rounded]="'rounded'"></adam-lib-button>
        <adam-lib-button [color]="'dangerous'" [text]="'dangerous'" [rounded]="'rounded'"></adam-lib-button>
        <adam-lib-button [color]="'positive'" [text]="'positive'" [rounded]="'rounded'"></adam-lib-button>
        <adam-lib-button [color]="'blue'" [text]="'blue'" [rounded]="'rounded'"></adam-lib-button>
        <adam-lib-button [color]="'waring'" [text]="'waring'" [rounded]="'rounded'"></adam-lib-button>
        <adam-lib-button [color]="'info'" [text]="'info'" [rounded]="'rounded'"></adam-lib-button>
    </div>

    <div class="div-demo-style">
        <adam-lib-button [color]="'primary'" [text]="''" [rounded]="'rounded'" [icon]="'pi-plus'" [height]="'30px'"
            [width]="'30px'"></adam-lib-button>
        <adam-lib-button [color]="'dangerous'" [text]="''" [rounded]="'rounded'" [icon]="'pi pi-plus'" [height]="'30px'"
            [width]="'30px'"></adam-lib-button>
        <adam-lib-button [color]="'positive'" [text]="''" [rounded]="'rounded'" [icon]="'pi pi-plus'" [height]="'30px'"
            [width]="'30px'"></adam-lib-button>
        <adam-lib-button [color]="'blue'" [text]="''" [rounded]="'rounded'" [icon]="'pi pi-plus'" [height]="'30px'"
            [width]="'30px'"></adam-lib-button>
        <adam-lib-button [color]="'waring'" [text]="''" [rounded]="'rounded'" [icon]="'pi pi-plus'" [height]="'30px'"
            [width]="'30px'"></adam-lib-button>
        <adam-lib-button [color]="'info'" [text]="''" [rounded]="'rounded'" [icon]="'pi pi-search'" [height]="'30px'"
            [width]="'30px'"></adam-lib-button>
    </div>

    <div class="div-demo-style">
        <adam-lib-button [color]="'primary'" [text]="'primary'" [isLoading]="true"></adam-lib-button>
    </div>

</div>