<div class="main-screen">

    <adam-lib-label class="screen-title" [text]="'Data View'"></adam-lib-label>

    <div class="div-demo-style">
        <adam-data-view [products]="products" [sortOptions]="sortOptions" [layout]="'grid'" [isViewShope]="true"
            [isViewRating]="true" [isViewName]="true" [isViewDescription]="true" [isViewCategory]="true"
            [isViewFooter]="true" [isViewCategoryTooltip]="true" [isViewImageTooltip]="true"
            [isViewButtonsTooltip]="true" [isViewPrice]="true" [isViewFooter]="true" [paginator]="true"
            [addToFavoriteColor]="'dangerous-reverse'" [layout]="'grid'" [skeletonWidth]="'210px'" [rowsNumber]="12"
            [numSkeleton]="12" [paginatorPosition]="'both'"></adam-data-view>
    </div>

    <div class="div-demo-style">
        <adam-data-view [products]="products" [sortOptions]="sortOptions" [layout]="'grid'" [isViewShope]="true"
            [isViewRating]="true" [isViewName]="true" [isViewDescription]="true" [isViewCategory]="true"
            [isViewFooter]="true" [isViewCategoryTooltip]="true" [isViewImageTooltip]="true"
            [isViewButtonsTooltip]="true" [isViewPrice]="true" [isViewFooter]="true" [paginator]="false"
            [addToFavoriteColor]="'dangerous-reverse'" [numSkeleton]="20" [skeletonWidth]="'210px'"
            [isViewLayoutOptions]="false" [isViewCustomGridData]="true" [isViewSortOptions]="false"
            [customGridDataElementRef]="storeGridData"></adam-data-view>

        <ng-template #storeGridData let-products="products">
            <div class="adam-flex adam-flex-row adam-flex-wrap adam-center-center">
                @for(product of products; track product){
                <div class="custom-product-style">
                    <p>{{product?.name}}</p>
                </div>
                }
            </div>

        </ng-template>
    </div>
</div>