<div class="main-screen">

    <adam-lib-label class="screen-title" [text]="'Data View'"></adam-lib-label>

    <div class="div-demo-style">
        <adam-data-view [products]="products" [sortOptions]="sortOptions" [layout]="'list'" [isViewShope]="true"
            [isViewRating]="true" [isViewName]="true" [isViewDescription]="true" [isViewCategory]="true"
            [isViewFooter]="true" [isViewCategoryTooltip]="true" [isViewImageTooltip]="true"
            [isViewButtonsTooltip]="true" [isViewPrice]="true" [isViewFooter]="true"
            [addToFavoriteColor]="'dangerous-reverse'"></adam-data-view>
    </div>
</div>