<div class="main-screen">

    <adam-lib-label class="screen-title" [text]="'app-checkbox'"></adam-lib-label>
    <div class="adam-flex-row adam-row-gap">
        <div class="adam-flex-column adam-column-gap">
            <lib-adam-checkbox [value]="'Check Box1'" [label]="'adam-checkbox'" [name]="'group1'" [checked]="true">
            </lib-adam-checkbox>
        </div>


        <div class="adam-flex-column adam-column-gap">
            <lib-adam-checkbox [value]="'Check Box2'" [label]="'adam-checkbox'" [name]="'group2'" [checked]="true"
                [color]="'dangerous'">
            </lib-adam-checkbox>
        </div>

        <div class="adam-flex-column adam-column-gap">
            <lib-adam-checkbox [value]="'Check Box3'" [label]="'adam-checkbox'" [name]="'group3'" [checked]="true"
                [color]="'waring'">
            </lib-adam-checkbox>
        </div>
    </div>
</div>