// @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "./_variables.scss";
@import "./adam.lib.scss";
@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap.css";
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css"); 


.required:after {
    content: '\2731' !important;
    color: var(--not-valid-color) !important;
    margin: 5px !important;
    font-size: 15px !important;
}

.p-tooltip-text {
    font-size: var(--small-font-size) !important;
    // background: var(--main-background) !important;
    // color: var(--main-text-color) !important;
    // border: 1px solid var(--main-text-color) !important;
}

.modal-open {
    color: var(--main-text-color) !important;

    .modal-header {
        background-color: var(--main-background) !important;
        border-bottom: none !important;

        adam-lib-label,
        label {

            font-size: 24px !important;
            font-weight: bold !important;
        }

        button {
            border: none !important;
            background: none !important;
            color: var(--main-text-color) !important;

        }
    }

    .modal-footer {
        border-top: none !important;
        background-color: var(--main-background) !important;

        adam-lib-button {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
    }

    .modal-body {
        background: var(--main-screen) !important;
    }
}

:host ::ng-deep .image-border-style {

    .p-image-preview-container,
    .p-image {

        img,
        button,
        .p-image-preview-indicator {
            border-radius: var(--radius) !important;
        }
    }
}