<div class="main-screen">

    <adam-lib-label class="screen-title" [text]="'app-button'"></adam-lib-label>
    <div class="div-demo-style">
        <adam-lib-button (onClick)="showError()" [color]="'dangerous'" [text]="'Error'"></adam-lib-button>
        <adam-lib-button (onClick)="showInfo()" [color]="'blue'" [text]="'Info'"></adam-lib-button>
        <adam-lib-button (onClick)="showWarn()" [color]="'waring'" [text]="'waring'"></adam-lib-button>
        <adam-lib-button (onClick)="showSuccess()" [color]="'info'" [text]="'Success'"></adam-lib-button>
    </div>

</div>