<div class="main-screen">

    <adam-lib-label class="screen-title" [text]="'Carousel'"></adam-lib-label>

    <div class="adam-flex-row adam-row-gap">
        <adam-carousel-view [products]="skeletonsProducts" [color]="'waring'" [isViewCarousel]="true"
            [skeletonWidth]="'150px'" [skeletonHeight]="'150px'" [carouselElementRef]="carouselView"
            [isViewHeader]="true" [headerLabel]="'Category'" (onPageChange)="onPageChange($event)"></adam-carousel-view>

        <ng-template #carouselView let-product="product">
            <div class="adam-flex-row">
                <adam-image class="carousel-image-item-style" [src]="product?.image" [pTooltip]="product?.name"
                    [tooltipPosition]="'top'" [previewImageSrc]="product?.image" [width]="150" [height]="150"
                    [preview]="false" [alt]="product?.name"></adam-image>
            </div>
        </ng-template>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <adam-carousel-view [color]="'waring'" [isViewCarousel]="true" [carouselElementRef]="carouselView"
            [products]="products" [isViewHeader]="true" [headerLabel]="'Category'" [products]="products"
            (onPageChange)="onPageChange($event)" [skeletonWidth]="'150px'"
            [skeletonHeight]="'150px'"></adam-carousel-view>

        <ng-template #carouselView let-product="product">
            <div class="adam-flex-row">
                <adam-image class="carousel-image-item-style" [src]="product?.image" [pTooltip]="product?.name"
                    [tooltipPosition]="'top'" [previewImageSrc]="product?.image" [width]="150" [height]="150"
                    [preview]="false" [alt]="product?.name"></adam-image>
            </div>
        </ng-template>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <adam-carousel-view [verticalViewPortHeight]="'450px'" [isPreviewImage]="true" [isViewFooter]="false"
            [products]="products"></adam-carousel-view>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <adam-carousel-view [isCircular]="false" [orientation]="orientationCarouselType.Vertical"
            (onCardClick)="onCardClick($event)" [verticalViewPortHeight]="'450px'" [width]="'250px'"
            [imageWidth]="'245'" [isViewStatus]="true" [isPreviewImage]="true" [isViewBorder]="true" [isViewName]="true"
            [isViewDescription]="true" [isViewCategory]="true" [isViewHeader]="true" [isViewFooter]="true"
            [isViewCategoryTooltip]="true" [isViewImageTooltip]="true" [isViewButtonsTooltip]="true"
            [isViewPrice]="true" [isViewFooter]="true" [headerLabel]="'Carousel'" [products]="products"
            [color]="'waring'" [addToCartColor]="'info'" [addToFavoriteColor]="'dark-reverse'"></adam-carousel-view>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <adam-carousel-view [numVisible]="4" [numScroll]="6" [isViewBorder]="true" [imageWidth]="'220'"
            [imageHeight]="'150'" [isViewCarousel]="false" [width]="'1000px'" [isViewCategory]="true"
            [isViewHeader]="true" [isViewFooter]="true" [isViewCategoryTooltip]="true" [isViewImageTooltip]="true"
            [isViewButtonsTooltip]="true" [headerLabel]="'Carousel'" [products]="products" [color]="'info'"
            [addToCartColor]="'info'" [addToFavoriteColor]="'dangerous-reverse'"></adam-carousel-view>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <adam-carousel-view [isViewCategory]="true" [isViewHeader]="true" [isViewFooter]="true"
            [isViewCategoryTooltip]="true" [isViewImageTooltip]="true" [isViewButtonsTooltip]="true"
            [headerLabel]="'Carousel'" [products]="products" [color]="'waring'" [addToCartColor]="'info'"
            [addToFavoriteColor]="'dark-reverse'"></adam-carousel-view>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <adam-carousel-view [isViewBorder]="true" [isViewCategory]="true" [isViewStatus]="true" [isPreviewImage]="true"
            [isViewHeader]="true" [isViewName]="true" [isViewDescription]="true" [isViewPrice]="true"
            [isViewFooter]="true" [isAutoplayInterval]="false" [autoplayInterval]="'10000'"
            [isViewCategoryTooltip]="true" [isViewImageTooltip]="true" [isViewButtonsTooltip]="true"
            [headerLabel]="'Carousel'" [products]="products" [color]="'waring'" (onAddToCart)="onAddToCart($event)"
            (onAddToFavorite)="onAddToFavorite($event)"></adam-carousel-view>
    </div>

</div>