<div class="main-screen">

    <adam-lib-label class="screen-title" [text]="'Breadcrumb'"></adam-lib-label>

    <div class="div-demo-style">
        <lib-adam-breadcrumb [color]="'white'" [home]="home" [items]="items"></lib-adam-breadcrumb>
    </div>

    <div class="div-demo-style">
        <lib-adam-breadcrumb [items]="items"></lib-adam-breadcrumb>
    </div>

    <div class="div-demo-style">
        <lib-adam-breadcrumb [color]="'warning'" [items]="items"></lib-adam-breadcrumb>
    </div>
</div>