<div class="main-screen">

    <adam-lib-label class="screen-title" [text]="'Form Controle'"></adam-lib-label>

    <form #form="ngForm" novalidate (ngSubmit)="form.valid ">

        <div class="adam-flex-row adam-row-gap">
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Required Dropdown'"></adam-lib-label>
                <adam-lib-dropdown name="dropdown1" [required]="true" [dropdown]="cities" [width]="'250px'"
                    [height]="'35px'" [(ngModel)]="citiyId" [submitted]="form.submitted" ngDefaultControl
                    #dropdown1="ngModel" ></adam-lib-dropdown>

                <adam-lib-label *ngIf="form.submitted && dropdown1?.errors?.required" class="not-valid"
                    [text]="'Required dropdown is required'"></adam-lib-label>
            </div>
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Dropdown'"></adam-lib-label>
                <adam-lib-dropdown name="dropdown2" [dropdown]="cities" [width]="'250px'" [height]="'35px'"
                     [(ngModel)]="citiyId" [submitted]="form.submitted"
                    ngDefaultControl></adam-lib-dropdown>
            </div>
        </div>

        <div class="adam-flex-row adam-row-gap">
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Text Box'"></adam-lib-label>
                <adam-lib-text-box name="textBox1" [required]="true" [width]="'250px'" [height]="'35px'"
                    [(ngModel)]="textBox" [submitted]="form.submitted" #textBox1="ngModel" 
                    ngDefaultControl></adam-lib-text-box>
                <adam-lib-label *ngIf="form.submitted && textBox1?.errors?.required" class="not-valid"
                    [text]="'Text Box is required'"></adam-lib-label>
            </div>
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Text Box2'"></adam-lib-label>
                <adam-lib-text-box name="textBox2" [width]="'250px'" [height]="'35px'" [(ngModel)]="textBox"
                    [isDisplayIconStart]="true" ngDefaultControl ></adam-lib-text-box>
            </div>
        </div>

        <div class="adam-flex-row adam-row-gap">
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Required Date'"></adam-lib-label>
                <lib-adam-calendar [id]="'selectedFromDate'" name="selectedFromDate" [(ngModel)]="date"
                    #selectedFromDate="ngModel" [showIcon]="true" [showTime]="false" [required]="true"
                    [submitted]="form.submitted" [width]="'250px'" [height]="'35px'" >
                </lib-adam-calendar>
                <adam-lib-label *ngIf="form.submitted && selectedFromDate?.errors?.required" class="not-valid"
                    [text]="'Required From Date is required'"></adam-lib-label>
            </div>
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Date'"></adam-lib-label>
                <lib-adam-calendar [id]="'selectedFromDate'" name="selectedFromDate" [(ngModel)]="date"
                    #selectedFromDate="ngModel" [showIcon]="true" [showTime]="false" [submitted]="form.submitted"
                    [width]="'250px'" [height]="'35px'" >
                </lib-adam-calendar>
            </div>
        </div>

        <div class="adam-flex-row adam-row-gap">
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Required Dropdown'"></adam-lib-label>
                <adam-lib-dropdown name="dropdown1" [required]="true" [dropdown]="cities" [width]="'250px'"
                    [height]="'35px'" [(ngModel)]="citiyId" [submitted]="form.submitted" ngDefaultControl
                    #dropdown1="ngModel" [marginEnd]="'10px'"></adam-lib-dropdown>

                <adam-lib-label *ngIf="form.submitted && dropdown1?.errors?.required" class="not-valid"
                    [text]="'Required dropdown is required'"></adam-lib-label>
            </div>

            <div class="adam-flex-column">
                <adam-lib-label [text]="'Dropdown'"></adam-lib-label>
                <adam-lib-dropdown name="dropdown2" [dropdown]="cities" [width]="'250px'" [height]="'35px'"
                    [marginEnd]="'10px'" [(ngModel)]="citiyId" [submitted]="form.submitted"
                    ngDefaultControl></adam-lib-dropdown>
            </div>

            <div class="adam-flex-column" style="width: 500px">
                <adam-lib-label [text]="'Dropdown'"></adam-lib-label>
                <adam-lib-dropdown name="dropdown3" [dropdown]="cities" [width]="'100%'" [height]="'35px'"
                    [(ngModel)]="citiyId" [submitted]="form.submitted" ngDefaultControl></adam-lib-dropdown>
            </div>
            <div class="adam-flex-column"></div>
        </div>

        <div class="adam-flex-row adam-row-gap">
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Text Box'"></adam-lib-label>
                <adam-lib-text-box name="textBox1" [required]="true" [width]="'250px'" [height]="'35px'"
                    [(ngModel)]="textBox" [submitted]="form.submitted" #textBox1="ngModel" [icon]="'pi pi-file'"
                    ngDefaultControl></adam-lib-text-box>
                <adam-lib-label *ngIf="form.submitted && textBox1?.errors?.required" class="not-valid"
                    [text]="'Text Box is required'"></adam-lib-label>
            </div>

            <div class="adam-flex-column">
                <adam-lib-label [text]="'Text Box2'"></adam-lib-label>
                <adam-lib-text-box name="textBox2" [width]="'250px'" [height]="'35px'" [(ngModel)]="textBox"
                    [isDisplayIconStart]="true" ngDefaultControl ></adam-lib-text-box>
            </div>

            <div class="adam-flex-column" style="width: 500px;">
                <adam-lib-label [text]="'Text Box'"></adam-lib-label>
                <adam-lib-text-box name="textBox3" [width]="'100%'" [height]="'35px'" [(ngModel)]="textBox"
                    [isDisplayIconStart]="true" ngDefaultControl></adam-lib-text-box>
            </div>
            <div class="adam-flex-column"></div>
        </div>

        <div class="adam-flex-row adam-row-gap adam-space-between">
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Cart Detail Count'"></adam-lib-label>
                <adam-lib-text-box name="catrDetailCounts" [width]="'30px'" [height]="'35px'"
                    [(ngModel)]="catrDetailCount" [icons]="catrDetailCountIcons" ngDefaultControl></adam-lib-text-box>

            </div>

        </div>

        <div class="adam-flex-row adam-row-gap adam-space-between">
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Text Box'"></adam-lib-label>
                <adam-lib-text-box name="textBox4" [width]="'350px'" [height]="'35px'" [(ngModel)]="textBox"
                    [isDisplayIconStart]="true" [icons]="textBoxIcons" ngDefaultControl></adam-lib-text-box>
            </div>
        </div>

        <div class="adam-flex-row adam-row-gap adam-space-between">
            <div class="adam-flex-column">
                <adam-lib-label [text]="'Text Box'"></adam-lib-label>
                <adam-lib-text-box name="textBox5" [width]="'250px'" [height]="'35px'" [(ngModel)]="textBox"
                    [icons]="textBoxIcons" ngDefaultControl></adam-lib-text-box>
            </div>
        </div>

        <div class="adam-flex-row adam-row-gap adam-space-between">
            <div class="adam-flex-column">
                <lib-adam-checkbox [value]="'Check Box1'" [label]="'adam-checkbox'" [name]="'group1'">
                </lib-adam-checkbox>
            </div>
        </div>

        <div class="adam-flex-row adam-row-gap adam-space-between">
            <adam-search-box [icon]="'pi pi-search'" [width]="'250px'" [height]="'35px'"
                [placeholder]="'Search ...'"></adam-search-box>
        </div>

        <div class="adam-flex-row adam-row-gap adam-space-between">
            <adam-search-box [icon]="'pi pi-search'" [width]="'500px'" [height]="'35px'"
                [placeholder]="'Search ...'"></adam-search-box>
        </div>

        <div class="adam-flex-row adam-row-gap adam-space-between">
            <lib-adam-textarea [width]="'500px'" [placeholder]="'Text area ...'"></lib-adam-textarea>
        </div>

        <div class="adam-flex-row adam-row-gap adam-space-between">
            <div class="adam-flex-column" style="width: 350px;">
                <adam-lib-button [type]="'submit'" [color]="'primary-reverse'" [width]="'250px'"
                    [text]="'Submited'"></adam-lib-button>

            </div>
            <div class="adam-flex-column" style="width: 350px;">
                <adam-lib-button [color]="'primary-reverse'" [width]="'250px'" [text]="'Open Popup'"
                    (onClick)="openPopup()"></adam-lib-button>

            </div>

            <!-- <div class="adam-flex-column" style="width: 350px;">
                <adam-lib-button [color]="'primary-reverse'" [width]="'250px'" [text]="'Open Confirmation Popup'"
                    (onClick)="openConfirmationPopup()"></adam-lib-button>
            </div>

            <div class="adam-flex-column" style="width: 350px;">
                <adam-lib-button [color]="'dangerous-reverse'" [width]="'250px'" [text]="'Delete Confirmation Popup'"
                    (onClick)="openDeleteConfirmationPopup()"></adam-lib-button>
            </div> -->

        </div>

    </form>
</div>