<form #form="ngForm" novalidate (ngSubmit)="form.valid">

    <div class="adam-flex-row adam-row-gap">
        <div class="adam-flex-column">
            <adam-lib-label [text]="'Required From Date'"></adam-lib-label>
            <lib-adam-calendar [id]="'selectedFromDate'" name="selectedFromDate" [(ngModel)]="fromDate" ngDefaultControl
                #selectedFromDate="ngModel" [showIcon]="true" [icon]="'pi pi-calendar text-muted bg-white'"
                [showTime]="false" [required]="true" [submitted]="form.submitted" [width]="'250px'" [height]="'35px'">
            </lib-adam-calendar>

            <adam-lib-label *ngIf="form.submitted && selectedFromDate?.errors?.required" class="not-valid"
                [text]="'Required From Date is required'"></adam-lib-label>
        </div>

        <div class="adam-flex-column">
            <adam-lib-label [text]="'From Date'"></adam-lib-label>
            <lib-adam-calendar [id]="'selectedFromDate'" name="selectedFromDate" [(ngModel)]="fromDate" ngDefaultControl
                [showIcon]="true" [icon]="'pi pi-calendar text-muted bg-white'" [showTime]="false" [width]="'250px'"
                [height]="'35px'">
            </lib-adam-calendar>
        </div>

    </div>

    <div class="adam-flex-row adam-row-gap">
        <div class="adam-flex-column">
            <adam-lib-label [text]="'Required Dropdown'"></adam-lib-label>
            <adam-lib-dropdown name="dropdown1" [required]="true" [dropdown]="cities" [width]="'250px'"
                [height]="'35px'" [(ngModel)]="citiyId" [submitted]="form.submitted" ngDefaultControl
                #dropdown1="ngModel"></adam-lib-dropdown>

            <adam-lib-label *ngIf="form.submitted && dropdown1?.errors?.required" class="not-valid"
                [text]="'Required dropdown is required'"></adam-lib-label>
        </div>

        <div class="adam-flex-column">
            <adam-lib-label [text]="'Dropdown'"></adam-lib-label>
            <adam-lib-dropdown name="dropdown2" [dropdown]="cities" [width]="'250px'" [height]="'35px'"
                [(ngModel)]="citiyId" [submitted]="form.submitted" ngDefaultControl></adam-lib-dropdown>
        </div>

        <div class="adam-flex-column" style="width: 500px; margin-left: 20px;">
            <adam-lib-label [text]="'Dropdown'"></adam-lib-label>
            <adam-lib-dropdown name="dropdown3" [dropdown]="cities" [width]="'100%'" [height]="'35px'"
                [(ngModel)]="citiyId" [submitted]="form.submitted" ngDefaultControl></adam-lib-dropdown>
        </div>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <div class="adam-flex-column">
            <adam-lib-label [text]="'Text Box'"></adam-lib-label>
            <adam-lib-text-box name="textBox1" [required]="true" [width]="'250px'" [height]="'35px'"
                [(ngModel)]="textBox" [submitted]="form.submitted" #textBox1="ngModel" [icon]="'pi pi-file'"
                ngDefaultControl></adam-lib-text-box>
            <adam-lib-label *ngIf="form.submitted && textBox1?.errors?.required" class="not-valid"
                [text]="'Text Box is required'"></adam-lib-label>
        </div>

        <div class="adam-flex-column">
            <adam-lib-label [text]="'Text Box'"></adam-lib-label>
            <adam-lib-text-box name="textBox2" [width]="'250px'" [height]="'35px'" [(ngModel)]="textBox"
                [isDisplayIconStart]="true" ngDefaultControl></adam-lib-text-box>
        </div>

        <div class="adam-flex-column" style="width: 500px;">
            <adam-lib-label [text]="'Text Box'"></adam-lib-label>
            <adam-lib-text-box name="textBox3" [width]="'100%'" [height]="'35px'" [(ngModel)]="textBox"
                [isDisplayIconStart]="true" ngDefaultControl></adam-lib-text-box>
        </div>

    </div>

    <div class="adam-flex-row adam-row-gap">
        <div class="adam-flex-column">
            <adam-lib-label [text]="'Text Box'"></adam-lib-label>
            <adam-lib-text-box name="textBox4" [width]="'350px'" [height]="'35px'" [(ngModel)]="textBox"
                [isDisplayIconStart]="true" [icons]="textBoxIcons" ngDefaultControl></adam-lib-text-box>
        </div>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <div class="adam-flex-column">
            <adam-lib-label [text]="'Text Box'"></adam-lib-label>
            <adam-lib-text-box name="textBox5" [width]="'250px'" [height]="'35px'" [(ngModel)]="textBox"
                [icons]="textBoxIcons" ngDefaultControl></adam-lib-text-box>
        </div>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <div class="adam-flex-column">
            <lib-adam-checkbox [value]="'Check Box1'" [label]="'adam-checkbox'" [name]="'group1'">
            </lib-adam-checkbox>
        </div>
    </div>

    <div class="adam-flex-row adam-row-gap">
        <adam-search-box [icon]="'pi pi-search'" [width]="'250px'" [height]="'35px'"
            [placeholder]="'Search ...'"></adam-search-box>
    </div>
    <div class="adam-flex-row adam-space-between adam-row-gap">
        <adam-lib-button [type]="'submit'" [color]="'primary-reverse'" [text]="'Submited'"></adam-lib-button>
    </div>
</form>