/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "./variables.scss";
@import "./adam.lib.scss";
@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap.css";
@import "./responsive.scss";

html,
body {
    background: var(--main-background) !important;
    display: block !important;
    box-sizing: border-box !important;
    height: 100vh !important;
    // transition: all 1s linear !important;
    margin: 0 !important;
}

.main-content {
    width: 85% !important;
    @include margin-start(15%);
    padding-top: 0.05% !important;
    transition: all 0.5s linear;
    // min-height: 100% !important;
}

.larg-main-content {
    width: 96.25% !important;
    // min-height: 90vh !important;
    @include margin-start(3.75%);
    padding-top: 0.05% !important;
    position: relative;
    transition: all 0.5s linear;
}

.x-larg-main-content {
    width: 99.75% !important;
    // min-height: 90vh !important;
    @include margin-start(0.125%);
    padding-top: 0.05% !important;
    position: relative;
    transition: all 0.5s linear;
}

.div-demo-style {
    padding: 1% !important;
    width: 100% !important;

    adam-lib-button {
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
}

.adam-flex-row {
    display: flex !important;
    flex-direction: row !important;

}

.adam-flex-column {
    display: flex !important;
    flex-direction: column !important;

}

.adam-space-between {
    justify-content: space-between !important;
}

.adam-center-center {
    justify-content: center !important;
    align-items: center !important;
}

.adam-start-start {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.adam-end-end {
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

.adam-row-gap {
    margin: 1rem 1rem 1rem 1rem !important;
}

.adam-column-gap {
    @include margin-end(10px);
}

.not-valid {
    @include margin-start(3px);
    color: var(--not-valid-color) !important;
    font-size: var(--small-font-size) !important;
    font-family: var(--font-family) !important;
}

adam-lib-label {
    color: var(--main-text-color) !important;
}

.main-screen {
    padding: 0.5% !important;
    min-height: 90% !important;
    display: block !important;
    background: var(--main-screen) !important;
    border-radius: 10px !important;
    margin: 0 0.5% 0 0.5% !important;
    border: 1px solid #fff !important;

    .screen-title {

        div,
        label {
            font-family: var(--font-family) !important;
            font-size: var(--larg-font-size) !important;
            color: var(--main-text-color);
            font-weight: bold !important;
            margin-top: 20px !important;
            @include margin-start(25px);
        }
    }

    .screen-body {
        min-height: 80vh !important;
        max-width: 100% !important;
        overflow-x: hidden !important;
        display: block !important;
        box-sizing: border-box !important;
    }
}

// modal-sm  // modal-lg // modal-xl
.modal-open,
.modal-content {
    color: var(--main-text-color) !important;
    border: 1px solid #fff !important;

    .modal-header {
        background-color: var(--main-background) !important;
        border-bottom: none !important;

        adam-lib-label,
        label {

            font-size: 24px !important;
            font-weight: bold !important;
        }

        button {
            border: none !important;
            background: none !important;
            color: var(--main-text-color) !important;

        }
    }

    .modal-footer {
        border-top: none !important;
        background-color: var(--main-background) !important;

        adam-lib-button {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
    }

    .modal-body {
        background: var(--main-screen) !important;
    }
}

.not-implemented-style {
    text-align: center !important;

    adam-lib-label,
    label {
        width: 100% !important;
        font-size: 24px !important;
        font-weight: bold !important;
    }
}

.header-tabel-filter-style {
    min-width: 100% !important;
    padding: 20px !important;
}

.close-button-style {
    border: 1px solid white !important;
}

:host ::ng-deep .image-border-style {

    .p-image-preview-container,
    .p-image {

        img,
        button,
        .p-image-preview-indicator {
            border-radius: var(--radius) !important;
        }
    }
}