<div class="main-screen">

    <adam-lib-label class="screen-title" [text]="'Paginator'"></adam-lib-label>

    <form #form="ngForm" novalidate (ngSubmit)="form.valid ">
        <div class="adam-flex adam-flex-row adam-center-center adam-row-gap">
            <adam-paginator [pageSize]="5" [totalRecords]="50" (onPageChange)="paginate($event)"></adam-paginator>
        </div>

        <div class="adam-flex adam-flex-row adam-center-center adam-row-gap">
            <adam-paginator [showCurrentPageReport]="true" [showJumpToPageDropdown]="true" [showPageLinks]="true"
                [pageSize]="5" [totalRecords]="50" (onPageChange)="paginate($event)"></adam-paginator>
        </div>

        <div class="adam-flex adam-flex-row adam-center-center adam-row-gap">
            <adam-paginator [showCurrentPageReport]="true" [showJumpToPageDropdown]="true" [showPageLinks]="false"
                [pageSize]="5" [totalRecords]="50" (onPageChange)="paginate($event)"></adam-paginator>
        </div>

        <div class="adam-flex adam-flex-row adam-center-center adam-row-gap">
            <adam-paginator [showCurrentPageReport]="true" [showJumpToPageDropdown]="false" [showPageLinks]="false"
                [pageSize]="5" [totalRecords]="50" (onPageChange)="paginate($event)"></adam-paginator>
        </div>

        <div class="adam-flex adam-flex-row adam-center-center adam-row-gap">
            <adam-paginator [showCurrentPageReport]="true" [showJumpToPageDropdown]="false" [showPageLinks]="true"
                [pageSize]="5" [totalRecords]="50" (onPageChange)="paginate($event)"></adam-paginator>
        </div>

    </form>
</div>